<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Edit Ad</title>
</head>
<body>
<form th:method="POST" th:action="@{/ads/{id}/edit (id = ${ad.id})}" th:object="${ad}">
  <h1>Edit Ad</h1>
  <label for="title">Title: </label>
  <input type="text" th:field="*{title}" id="title">
  <label for="description">Description: </label>
  <textarea id="description" th:field="*{description}" rows="10" cols="20"></textarea>
  <button type="submit">Submit</button>
</form>
</body>
</html>